body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  background-color: rgb(132, 71, 141);
  color: aliceblue;

  #title {
    font-size: 50px;
    margin-bottom: 100px;
    text-shadow: 1px 1px 2px pink;
  }

  .description {
    font-size: 20px;
  }

  #zodiacForm {
    background-color: pink;
    color: blueviolet;
    margin: 100px auto;
    width: 150px;
    padding: 50px 200px;
    border: 2px solid rgb(142, 102, 176);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .zodiacForm-input {
        width: 350px;
        margin: 20px;
        text-align: center;
    }
  }

  #result {
    font-size: 1.2rem;
    font-weight: bold;
  }
}